body {
    background-color: #d0efb1;
    font-family: "Helvetica Neue";
}

p {
    text-align: justify;
}

.colorDiv {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}